/lines
/lines_in_scene
/program_modules
/simple_shading
/test_animation
/test_buffer_copy_write
/test_lighting
/test_screenshot
/test_screenshot_fbo
/test_transform
/test_transform_minimal
/test_triangle
/test_triangle_minimal
/texture_image
/texture_storage
/uniform_array
/vao
/screenshot.tga
/screenshot_fbo.png
